{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='ajout.css')}}">
{% endblock %}
{% block content %}
<div class="content">
    <h1>Lieu</h1>
    <form action="{{ url_for('add_lieu') }}" method="post">
        <label for="lieu">Nom du lieu:</label><br>
        <input type="text" id="lieu" name="lieu" required><br>

        <label for="capacite_lieu">Capacité:</label><br>
        <input type="number" id="capacite_lieu" name="capacite_lieu" required><br>
        <input type="submit" value="Ajouter">
    </form>
</div>
{% endblock %}

