<html lang="fr">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {% endblock %}

        <title>Festiut'O</title>
        {% endblock %}
    </head>


    <body>

      <header id="header">
        <!-- Fixed navbar -->
        <ul class="liens">

            <li id="pageaccueil">
                <a href="{{ url_for('home') }}">Accueil</a>
            </li>

            {% if not current_user.is_authenticated or current_user.id_fest != (0|string) %}

            

            <li id="pageaccueil">
                <a href="{{ url_for('get_prochain_page') }}">Planning</a>
            </li>

            <li id="pageaccueil">
                <a href="{{ url_for('acheter') }}">Acheter un billet</a>
            </li>

            <li id="pageinfos">
                <a href ="#">Informations générales</a>
            </li>

            {% endif %}

            {% if not current_user.is_authenticated %}

            

            <li id="connection">
                <a href ="{{ url_for('login')}}">Connexion</a>
            </li>
            <li id="connection">
                <a href ="{{ url_for('creer_user')}}">S'inscrire</a>
            </li>

            {% endif %}

            {% if current_user.is_authenticated and current_user.id_fest != (0|string)  %}

            <li id="connection">
                <a href ="{{ url_for('get_favorites')}}">Mes favoris</a>
            </li>

            <li id="connection">
                <a href ="{{ url_for('changer_profil')}}">Modifier Profil</a>
            </li>

            <li id="connection">
                <a href ="{{ url_for('mes_tickets')}}">Mes billets</a>
            </li>

            <li id="connection">
                <a href ="{{ url_for('logout')}}">Déconnection</a>
            </li>
            
            

            {% endif %}

            {% if current_user.id_fest == (0|string) %}


            <li id="connection">
                <a href ="{{ url_for('get_page_artiste')}}">Ajout Artiste</a>
            </li>

            <li id="connection">
                <a href ="{{ url_for('get_lieu')}}">Ajout Lieu</a>
            </li>

            <li id="connection">
                <a href ="{{ url_for('get_page_groupe')}}">Ajout Groupe</a>
            </li>

            <li id="connection">
                <a href ="{{ url_for('groupes')}}">Gérer groupe</a>
            </li>

            <li id="connection">
                <a href ="{{ url_for('get_page_concert')}}">Ajout Concert</a>
            </li>

            <li id="connection">
                <a href ="{{ url_for('get_page_activite')}}">Ajout Activité</a>
            </li>

            <li id="connection">
                <a href ="{{ url_for('logout')}}">Déconnexion</a>
            </li>



            {% endif %}




            <li id="search">
                <form method="POST" action="{{ url_for('search') }}" class="form-inline d-flex" role="search">
                    <input class="form-control form-control-sm mr-3" type="search" placeholder="Rechercher" aria-label="Rechercher" name="searched" style="margin-right: 10px;">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0"><i class="fas fa-search" aria-hidden="true"></i></button>
                </form>
                <ul id="search-results"></ul>
            </li>
        </ul>
    </header>
        <!-- Your page content -->
        <main class="flex-shrink-0">
            <div class="container">
     
            {% block content %}
        
            {% endblock %}
            </div>
        </main>
        <footer id="footer" class="footer py-3 bg-light">
          <div class="container">
              <span class="text-muted">IUT'O - Arthur GOUDAL, Killian OUZET, Selim HANI</span>
              <a href="https://github.com/GOUDALArthur/SAE_WEB_BD" id="githublogo" target="_blank">
                  <svg height="32" aria-hidden="true" viewBox="0 0 16 16" width="32" data-view-component="true">
                      <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
                  </svg>
              </a>
          </div>
      </footer>
        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>