{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='billet.css')}}">
    <h1>Acheter un billet</h1>
    <p>Choisissez votre billet</p>

    <div class="ticket-forms">
        <form action="{{ url_for('confirmation_billet') }}" method="post">
            <h2>Billet 1 jours</h2>
            <p>Prix: 50€</p>
            <input type="hidden" name="ticket_type" value="1">
            <input type="submit" value="Acheter">
        </form>

        <form action="{{ url_for('confirmation_billet') }}" method="post">
            <h2>Billet 2 jours</h2>
            <p>Prix: 100€</p>
            <input type="hidden" name="ticket_type" value="2">
            <input type="submit" value="Acheter">
        </form>

        <form action="{{ url_for('confirmation_billet') }}" method="post">
            <h2>Billet all </h2>
            <p>Prix: 150€</p>
            <input type="hidden" name="ticket_type" value="3">
            <input type="submit" value="Acheter">
        </form>
    </div>
{% endblock %}