{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='confirmation_billet.css')}}">
    <h1>Récapitulatif pour votre achat, {{ current_user.prenom_fest }} {{ current_user.nom_fest }}</h1>
    <p>Veuillez entrer vos détails et effectuer le paiement à l'adresse crypto ci-dessous</p>
    <div id="formulaire">
    <form action="{{ url_for('payer_billet') }}" method="post">
        <label for="jours">Billet pour (nombre de jours):</label>
        <input type="number" id="jours" name="jours" required>

        <label for="btc">Adresse BTC</label>
        <input type="text" id="btc" name="btc" required>

        <input type="submit" value="Confirmer l'achat">
    </form>
    </div>
{% endblock %}