{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='favorites.css')}}" />

<div id="favorites">
  <h1>Mes favoris</h1>
  <div class="favorite">
    <p>Groupe : 
      {% for favorite, type in favorites %}
        {% if type == 'group' %}
          {{ favorite.nom_gr }},
        {% endif %}
      {% endfor %}
    </p>
    <p>Style de musique : 
      {% for favorite, type in favorites %}
        {% if type == 'style' %}
          {{ favorite.style }},
        {% endif %}
      {% endfor %}
    </p>
    <p>Artiste : 
      {% for favorite, type in favorites %}
        {% if type == 'artist' %}
          {{ favorite.nom_art }},
        {% endif %}
      {% endfor %}
    </p>
  </div>
</div>

{% endblock content %}