{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='favorites.css')}}" />

<div id="favorites">
  <h1>Mes favoris</h1>
  <div class="favorite">
    {% for favorite, type in favorites %}
      {% if type == 'group' %}
        <form method="POST" action="{{ url_for('remove_favorite', favorite_id=favorite.id_gr, type='group') }}">
          <button type="submit">{{ favorite.nom_gr }}</button>
        </form>
      {% elif type == 'style' %}
        <form method="POST" action="{{ url_for('remove_favorite', favorite_id=favorite.id_style, type='style') }}">
          <button type="submit">{{ favorite.style }}</button>
        </form>
      {% elif type == 'artist' %}
        <form method="POST" action="{{ url_for('remove_favorite', favorite_id=favorite.id_art, type='artist') }}">
          <button type="submit">{{ favorite.nom_art }}</button>
        </form>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock content %}