{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='event.css')}}" />

<div id="events">
  <h1>Mes événements</h1>

  <h2>Concerts</h2>
  <div class="event-container">
    {% for concert in concerts %}
      <div class="event-block">
        <h3>Concert du groupe {{ get_groupe_by_id(concert.id_gr) }}</h3>
        <p>Date de début : {{ concert.date_debut_concert.strftime('%Y-%m-%d %H:%M') }}</p>
        <p>Lieu : {{ get_lieu_by_id(concert.id_lieu) }}</p>
      </div>
    {% endfor %}
  </div>

  <h2>Activités annexes</h2>
  <div class="event-container">
    {% for activity in activities %}
      <div class="event-block">
        <h3>{{ activity.titre_act_ann }}</h3>
        <p>Date de début : {{ activity.date_debut_act_ann.strftime('%Y-%m-%d %H:%M') }}</p>
        <p>Groupe : {{ get_groupe_by_id(activity.id_gr) }}</p>
        <p>Lieu : {{ get_lieu_by_id(activity.id_lieu) }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}